.about {
  padding-top: 5px;
  padding-bottom: 81px;
  position: relative;

  @include vp-1199 {
    padding-top: 0;
  }
}

.about__container {
  max-width: 1440px;
  margin: 0 auto;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 585px;
  margin-left: auto;
  gap: 56px;

  @include vp-1199 {
    width: min-content;
    min-width: calc(270 / 678 * 100%);
    gap: 35px;
  }

  @include vp-767  {
    max-width: 100%;
    width: 100%;
    gap: 25px;
  }

  h2 {
    @include vp-1199 {
      padding-left: 6px;
    }

    @include vp-767  {
      padding-left: 0;
    }
  }

  h3 {
    font-size: 21px;
    line-height: 1;
    font-weight: 700;
    margin: 0;

    @include vp-1199 {
      font-size: 18px;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    word-wrap: break-word;

    @media (min-width: 1200px) {
      br {
        display: none;
      }
    }

    @include vp-1199 {
      padding-right: 0;
    }

    @include vp-767 {
      line-height: 20px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 29px;

    @include vp-1199 {
      gap: 29px;
    }

    @include vp-767 {
      gap: 27px;
   }
  }

  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    @include vp-1199 {
      gap: 11px;
    }

    @include vp-767 {
      gap: 13px;
    }
  }
}

.about__content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__clouds-big {
  width: fit-content;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;

  @include vp-1439 {
    top: 42px;
  }

  @include vp-767 {
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 7px;
  }

  img {
    width: 808px;
    height: 474px;

    @include vp-1439 {
      width: 542px;
      height: 350px;
    }

    @include vp-767 {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about__clouds-small {
  position: absolute;
  top: -185px;
  right: -220px;
  z-index: -1;

  @include vp-1199 {
    top: -317px;
    right: -375px;
  }

  @include vp-767 {
    display: none;
  }
}