.audio__wrapper {
  position: relative;
}

.audio-button {
  padding: 0;
  position: absolute;
  content: "";
  width: 47px;
  height: 47px;
  top: 60.5%;
  left: 50%;
  transform: translateX(-49%);
  background: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;
  color: $color-resolution-blue;

  @include hover-focus {
    stroke: $color-default-black;
    color: $color-default-white;
    outline: 0;
  }

  &:disabled,
  &--desabled {
    color: $color-navy-blue;
    outline: 0;
  }
}
