.btn {
  display: inline-flex;
  padding: 20px;
  color: $color-default-white;
  background-color: $color-navy-blue;
  font-weight: 500;
  line-height: 1;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled,
  &--disabled,
  &[desabled] {
    background-color: $color-nobel;
    pointer-events: none;
    cursor: default;
  }

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-resolution-blue;
    padding: 19px;
    border: 1px solid $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
  }
}
