.features {
  padding-top: 65px;
  padding-bottom: 81px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 47px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  @include vp-1199 {
    padding-top: 105px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 63px;
    gap: 19px;
  }

  h2 {
    padding: 0 30px;
    text-align: center;

    @include vp-1199 {
      font-size: 35px;
    }

    @include vp-767 {
      font-size: 22px;
    }
  }

  [data-parent] {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.features__swiper-wrapper {
  width: 100vw;
}

.features__slider {
  padding: 0 45px;

  @include vp-767 {
    padding: 0 15px;
  }
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @include vp-1199 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  @include vp-767 {
    gap: 15px;
  }
}

.features__item {
  max-width: 380px;
  width: calc(380 / 1200 * 100%);
  height: auto;
  border: 1px solid $color-navy-blue-10;

  @include vp-1199 {
    max-width: unset;
    width: calc(324 / 678 *100%);
  }

  @include vp-767 {
    width: 100%;
  }
}

.features__item:last-child {
  @include vp-1199 {
    width: 380px;

    h3 {
      padding: 0 70px;
    }
  }

  @include vp-767 {
    width: 100%;

    h3 {
      padding: 0 62px 0 61px;
    }
  }
}

.features__content {
  padding: 39px 19px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 15px;

  
  @include vp-1199 {
    padding: 29px 19px;
    gap: 14px;
  }

  @include vp-767 {
    padding: 19px 9px;
    gap: 15px;
  }
  

  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;

    @include vp-1199 {
      font-size: 16px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;

    @media (min-width: 768px) {
      br {
        display: none;
      }
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
    }

    & + p {
      margin-top: 15px;
    }
  }
}

.features__badge-container {
  width: 54px;
  height: 54px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid $color-navy-blue;

  @include vp-1199 {
    width: 48px;
    height: 48px;
    padding: 11px;
    margin-bottom: 12px;
  }

  @include vp-767 {
    width: 42px;
    height: 42px;
    padding: 8px;
    margin-bottom: 5px;
  }

  svg {
    color: $color-navy-blue;

    @include vp-1199 {
      width: 24px;
      height: 24px;
     }
  }
}

.features__buttons {
  margin-top: 3px;

  @include vp-1199 {
   display: none;
  }
}
