.footer__wrapper {
  border-top: 1px solid $color-elephant-20;
}

.footer__container {
  padding-top: 38px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-1199 {
    padding-top: 34px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    padding-top: 23px;
  }
}

.footer__wrapper-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @include vp-1199 {
    padding: 0;
    margin-bottom: 34px;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 15px;
  }
}

.footer__logo {
  padding: 0 0 0 29px;
  height: 42px;

  @include vp-1199 {
    padding: 0;
    height: 42px;
  }

  @include vp-1199 {
    padding: 0;
  }
}

.footer__nav {
  width: 629px;

  @include vp-1199 {
    position: relative;
    top: 0;
    padding: 0;
    width: 536px;
  }

  @include vp-767 {
    width: 100%;
    column-fill: balance;
  }

  ul {
    column-gap: 3px;

    @include vp-1199 {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: end;
      padding: 0;
      gap: 9px;
    }

    @include vp-767 {
      display: block;
      column-count: 2;
      min-width: 296px;
      column-gap: 33px;
      column-width: 120px;
    }
  }

  li {
    padding: 11px 9px 9px;

    @include vp-1199 {
      padding: 2px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 1px;
    }
  }

  a {
    color: $color-elephant;

    @include vp-1199 {
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
      text-transform: none;
      letter-spacing: 0.1px;
    }

    @include vp-767 {
      letter-spacing: 0;
    }

    &:hover {
      border-bottom: 1px solid $color-elephant;
    }

    &:focus,
    &:focus-visible {
      outline: 1px solid $color-elephant;
    }

    &:disabled,
    &--disabled {
      pointer-events: none;
      cursor: default;
    }
  }
}

.footer__contacts {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: end;
  width: 145px;

  @include vp-1199 {
    display: none;
  }
}

.footer__contacts a {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  padding: 10px 0;
  width: fit-content;

  @include vp-1199 {
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    margin: 0;
    padding: 16px 0 0;
  }
}

.footer__logo,
.footer__contacts a,
.footer__privacy a {
  color: $color-elephant;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    color: $color-navy-blue;
    outline: none;
  }

  &:disabled,
  &--disabled {
    color: $color-nobel;
    pointer-events: none;
    cursor: default;
  }
}

.footer__social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  margin-bottom: 22px;

  @include vp-1199 {
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.footer__social-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-navy-blue-20;
  fill: $color-elephant;

  @include vp-1199 {
    width: 33px;
    height: 30px;
  }

  &:hover,
  &:focus-within,
  &:focus-visible {
    border-color: $color-elephant;
    outline: none;
  }

  &:active {
    background-color: $color-navy-blue;
    border-color: $color-navy-blue;
    fill: $color-default-white;
  }

  &:disabled,
  &--disabled {
    border: 1px solid $color-elephant-30;
    pointer-events: none;
    cursor: default;

    svg {
      color: $color-elephant-30;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer__privacy {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__privacy-link {
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
}
