.hero {
  width: 100%;

  .container {
    padding: 0;
  }
}

.hero__slider {
  position: relative;
  z-index: 2;
}

.hero__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__item {
  position: relative;
  background-size: cover;
  background-color: $color-elephant;
  list-style-type: none;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 799px;
  height: auto;
  padding: 107px 0 0 0;

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__item:first-child .hero__button-wrapper {
  @include vp-767 {
    margin-top: 40px;
  }
}

.hero__content {
  position: relative;
  padding: 93px 0 80px;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 1200px) and (max-width: 1439px) {
    max-width: 1136px;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 121px;
  }

  @include vp-767 {
    padding-top: 33px;
    padding-bottom: 99px;

    br {
      display: none;
    }
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  max-width: 944px;
  width: fit-content;
  gap: 23px;

  @include vp-1199 {
    gap: 13px;
  }

  @include vp-767 {
    min-height: 52px;
    font-size: 26px;
    padding: 0 10px;
    gap: 15px;
  }

  h2 {
    font-style: normal;
    font-size: 77px;
    font-weight: 800;
    line-height: 1;
    color: $color-default-white;
    text-align: left;
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 945px;
    z-index: 5;

    @include vp-1199 {
      font-size: 56px;
      text-align: center;
      padding: 0 30px;
    }

    @include vp-767 {
      min-height: 52px;
      font-size: 26px;
      padding: 0 10px;
    }
  }

  p {
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: $color-default-white;
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: 464px;

    @media (min-width: 1200px) and (max-width: 1439px) {
      padding: 0 20px 0 0;
    }

    @include vp-1199 {
      text-align: center;
      align-self: center;
      max-width: 500px;
      padding: 0 13px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      padding: 0 30px;
      min-height: 100px;
    }

    @include vp-320 {
      padding: 0 15px;
    }
  }
}

.hero__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
  margin-top: 37px;
  margin-bottom: 134px;

  @include vp-1199 {
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 45px;
  }

  @include vp-767 {
    margin-top: 60px;
  }

  @include vp-320 {
    margin-top: 20px;
  }
}

.hero__button {
  min-width: 180px;
}

.hero__info {
  padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

.hero__info-item {
  font-size: 12px;
  line-height: 16px;
  padding: 13px 19px 13px;
  border: 1px solid $color-default-white-50;
  display: flex;
  gap: 8px;

  span {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: $color-default-white;
    text-align: start;
  }
}

.hero__info-item {
  @include vp-1199 {
    display: none;
  }

  svg {
    margin-top: 2px;
  }

  &:last-child {
    padding-right: 20px;
  }
}

.hero__video {
  position: absolute;
  right: 0;
  top: 32.1%;
  background-color: $color-resolution-blue;
  z-index: 4;
  width: 482px;
  height: 317px;

  @include vp-1199 {
    position: relative;
    width: 442px;
    height: 300px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__videoplayer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero__background {
  display: flex;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  img {
    width: 100%;
    object-fit: fill;
  }
}

.hero__polaroid {
  position: absolute;
  width: 410px;
  height: 459px;
  right: 0;
  top: 11.5%;
  z-index: 1;

  @include vp-1199 {
    position: relative;
    width: 442px;
    height: 365px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio {
  position: absolute;
  top: 46%;
  right: 0;

  @include vp-1199 {
    position: relative;
  }

  @include vp-767 {
    display: none;
  }

  iframe {
    width: 340px;
    height: 180px;
    border: none;
  }
}

.hero__audioplayer {
  position: absolute;
  width: 100%;
  height: 100%;
}
