.nav {
  max-width: 713px;

  @include vp-1199 {
    position: absolute;
    top: -200vh;
    right: 0;
    left: 0;
    padding: 100px 38px 52px;
    background-color: $color-default-white;
    transition: all 0.3s linear;
  }

  @include vp-767 {
    padding: 84px 8px 35px;
  }
}

.nav.is-opened {
  max-width: 100%;
  height: auto;
  top: 0;

  @include vp-1199 {
    padding: 99px 45px 53px 38px;
  }

  @include vp-767 {
    padding: 100px 45px 3px 8px;
  }

  ul {
    @include vp-767 {
      gap: 12px 0;
    }

    li {
      padding: 0;
    }
  }

  a:hover {
    color: $color-elephant;
    border-bottom: 1px solid $color-elephant;
  }

  a:focus,
  a:focus-visible {
    color: $color-elephant;
    outline: 1px solid $color-elephant;
    padding: 0 5px;
  }

  a:active {
    outline: none;
  }

  a:disabled {
    pointer-events: none;
    cursor: default;
  }
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 1px;
  row-gap: 2px;

  @include vp-1199 {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    gap: 18px 0;

    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 0 12px 2px;
    overflow: auto;
    order: 0;
  }

  li {
    padding: 10px;
    text-align: center;
  }
}

.nav__link {
  color: $color-default-white;
  line-height: 1;
  padding: 3px 5px;

  @include vp-1199 {
    font-weight: 700;
    color: $color-elephant;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    margin: 0;
  }

  @include vp-767 {
    font-size: 14px;
    letter-spacing: 0.56px;
  }

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid $color-default-white;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    cursor: default;
  }
}
