.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  right: 0;
}

.swiper .hero__pagination {
  position: absolute;
  bottom: 97px;
  right: 0;
  z-index: 5;
  cursor: pointer;
  display: flex;
  gap: 12px;
  justify-content: flex-end;

  @include vp-1199 {
    bottom: 40px;
  }

  @include vp-767 {
    justify-content: center;
    bottom: 40px;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid $color-default-white;
  opacity: 1;
  position: relative;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }

  &:hover {
    background-color: $color-gainsboro;
    stroke: $color-default-white;
  }

  &:focus,
  &:focus-visible {
    padding: 1px;
    background-color: transparent;
    outline: none;

    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      border: 1px solid $color-default-white-50;
      border-radius: 50%;
      top: -50%;
      left: -50%;

      @include vp-767 {
        width: 12px;
        height: 12px;
      }
    }
  }

  &:active {
    background-color: $color-default-white-50;
  }
}

.swiper .swiper-pagination-bullet-active {
  background: $color-default-white;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;

  @include vp-1199 {
    max-width: min-content;
    padding: 0 45px;
    align-items: center;
  }

  @include vp-767 {
    transform: translateX(0);
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
