.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  right: 0;
}

.swiper .hero__pagination {
  position: absolute;
  bottom: 97px;
  right: 0;
  z-index: 5;
  cursor: pointer;
  display: flex;
  gap: 12px;
  justify-content: flex-end;

  @include vp-1199 {
    bottom: 40px;
  }

  @include vp-767 {
    justify-content: center;
    bottom: 40px;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid $color-default-white;
  opacity: 1;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }

  &:focus-visible {
    opacity: 0.5;
    outline: none;
  }
}

.swiper .swiper-pagination-bullet-active {
  background: $color-default-white;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  right: -7px;
  width: 1200px;
  margin: 0 auto;

  @media (min-width: 1200px) and (max-width: 1439px) {
    max-width: 1136px;
  }

  @include vp-1199 {
    max-width: 100%;
    right: 50%;
    transform: translateX(-44.9%);
  }

  @include vp-767 {
    transform: translateX(0);
  }
}
