.video {
  iframe {
    width: 482px;
    height: 317px;

    @include vp-1199 {
      width: 442px;
      height: 300px;
    }
  }
}

.video__button {
  position: absolute;
  padding: 0;
  content: "";
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;

  svg {
    width: 12px;
    height: 22px;
    position: absolute;
    color: $color-default-white;
    top: 50%;
    left: 50%;
    transform: translate(-26%, -46%);
    z-index: 5;
  }

  &::after {
    content: "";
    position: absolute;
    transform: translateY(2%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    inset: 0;
    background: transparent;
    border: 1px solid $color-default-white;
  }

  &:hover::after,
  &:focus::after,
  &:focus-visible::after {
    border: 1px solid $color-resolution-blue;
  }

  &:hover svg,
  &:focus svg,
  &:focus-visible svg {
    stroke: $color-default-black;
    color: $color-default-white;
    outline: 0;
  }

  &:active::after {
    border: 1px solid $color-resolution-blue;
    background-color: $color-resolution-blue;
  }

  &:disabled::after,
  &--disabled::after {
    border: 1px solid $color-navy-blue;
  }

  &:disabled svg,
  &--disabled svg {
    color: $color-navy-blue;
    outline: 0;
  }
}
